{"swagger":"2.0","info":{"title":"Guesthouser APIs","description":"Api description...","termsOfService":"","contact":{"email":"vikas.b@guesthouser.com"},"license":{"name":"Private License","url":"guesthouserapi.com"},"version":"1.6"},"host":"guesthouserapi.com","basePath":"\/","schemes":["http","https"],"paths":{"\/v1.6\/admin\/uploadPromotionalimage":{"post":{"tags":["Offers"],"summary":"Upload Promotional Images on S3","description":"Upload Promotional Image.","operationId":"offers.post.admin.postPromotionalImage","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/mobile_image_in_form"},{"$ref":"#\/parameters\/web_image_in_form"}],"responses":{"200":{"description":"Returns array containing name of both mobile and web images. "},"400":{"description":"Missing or invalid parameters."},"401":{"description":"Unauthorized action."}}}},"\/v1.6\/admin\/offers":{"get":{"tags":["Offers"],"summary":"Get Offers listing","description":"get listing of offer data.","operationId":"offers.get.admin.offers","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"}],"responses":{"200":{"description":"Returns array containing offer data."},"401":{"description":"Unauthorized action."}}},"put":{"tags":["Offers"],"summary":"Update Offers","description":"Returns success message when Offer updated successfully.","operationId":"offers.put.admin.offers","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/id_in_form"},{"$ref":"#\/parameters\/name_optional_in_form"},{"$ref":"#\/parameters\/title_optional_in_form"},{"$ref":"#\/parameters\/status_optional_in_form"},{"$ref":"#\/parameters\/default_optional_in_form"},{"$ref":"#\/parameters\/description_in_form"},{"$ref":"#\/parameters\/imagedata_in_form"},{"$ref":"#\/parameters\/destination_in_form"}],"responses":{"200":{"description":"Offers changed successfully."},"400":{"description":"Missing or invalid parameters."},"500":{"description":"There was some error while updating offers. Please try again."}}},"post":{"tags":["Offers"],"summary":"Add offers","description":"save offer in offer tables.","operationId":"offers.post.admin.offers","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/name_in_form"},{"$ref":"#\/parameters\/title_in_form"},{"$ref":"#\/parameters\/status_in_form"},{"$ref":"#\/parameters\/default_in_form"},{"$ref":"#\/parameters\/description_in_form"},{"$ref":"#\/parameters\/images_in_form"},{"$ref":"#\/parameters\/destination_in_form"}],"responses":{"200":{"description":"Offers successfully saved."},"400":{"description":"Missing or invalid parameters."},"404":{"description":"File Not Found on s3 server."},"500":{"description":"Error while inserting file."}}},"delete":{"tags":["Offers"],"summary":"Delete Offer","description":"Returns success message when Offer Deleted successfully.","operationId":"offers.admin.delete.offers","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/offer_id_in_form"}],"responses":{"200":{"description":"Offers changed successfully."},"400":{"description":"Missing or invalid parameters."},"500":{"description":"Offers not Deleted || OffersImages not Deleted. "},"404":{"description":"Offers Id Not Found. "}}}},"\/v1.6\/admin\/homebanner":{"get":{"tags":["Homebanners"],"summary":"Get Banners listing","description":"get listing of home banners.","operationId":"homebanners.get.admin.homebanner","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"}],"responses":{"200":{"description":"Returns array containing Home Banners."},"401":{"description":"Unauthorized action."}}},"put":{"tags":["Homebanners"],"summary":"Update Home Banner","description":"Returns success message when Banner updated successfully.","operationId":"homebanner.put.admin.homebanner","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/id_in_form"},{"$ref":"#\/parameters\/mobile_image_name_in_form"},{"$ref":"#\/parameters\/status_optional_in_form"},{"$ref":"#\/parameters\/destination_in_form"}],"responses":{"200":{"description":"Banner successfully Updated."},"400":{"description":"Missing or invalid parameters."},"500":{"description":"There was some error while updating homebanner. Please try again."}}},"post":{"tags":["Homebanners"],"summary":"Insert Home Banner in database","description":"Insert Home Banners.","operationId":"homebanner.post.admin.homebanner","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/mobile_image_name_in_form"},{"$ref":"#\/parameters\/status_in_form"},{"$ref":"#\/parameters\/destination_in_form"}],"responses":{"200":{"description":"Returns Successful message. "},"400":{"description":"Missing or invalid parameters."},"404":{"description":"File Not Found on s3 server."},"401":{"description":"Unauthorized action."}}},"delete":{"tags":["Homebanners"],"summary":"Delete Home Banner","description":"Returns success message when Banner Deleted successfully.","operationId":"homebanners.admin.delete.homebanner","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/id_in_form"}],"responses":{"200":{"description":"Banner successfully Deleted"},"400":{"description":"Missing or invalid parameters."},"500":{"description":"Banner not Deleted "},"404":{"description":"Banner Id not Exist. "}}}},"\/v1.6\/admin\/promobanner":{"get":{"tags":["Promobanners"],"summary":"Get Banners listing","description":"get listing of promo banners.","operationId":"promobanners.get.admin.promobanner","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"}],"responses":{"200":{"description":"Returns array containing Promo Banners."},"401":{"description":"Unauthorized action."}}},"put":{"tags":["Promobanners"],"summary":"Update Promo Banner","description":"Returns success message when Banner updated successfully.","operationId":"promobanner.put.admin.promobanner","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/id_in_form"},{"$ref":"#\/parameters\/web_image_name_in_form"},{"$ref":"#\/parameters\/mobile_image_name_in_form"},{"$ref":"#\/parameters\/status_optional_in_form"},{"$ref":"#\/parameters\/name_optional_in_form"}],"responses":{"200":{"description":"Banner successfully Updated."},"400":{"description":"Missing or invalid parameters."},"500":{"description":"There was some error while updating Promo Banner. Please try again."}}},"post":{"tags":["Promobanners"],"summary":"Insert Promo Banner in database","description":"Insert Promo Banners.","operationId":"promobanner.post.admin.promobanner","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/mobile_image_name_in_form"},{"$ref":"#\/parameters\/web_image_name_in_form"},{"$ref":"#\/parameters\/status_in_form"},{"$ref":"#\/parameters\/name_in_form"}],"responses":{"200":{"description":"Returns Successful message. "},"400":{"description":"Missing or invalid parameters."},"404":{"description":"File Not Found on s3 server."},"401":{"description":"Unauthorized action."}}},"delete":{"tags":["Promobanners"],"summary":"Delete Promo Banner","description":"Returns success message when Banner Deleted successfully.","operationId":"promobanners.admin.delete.promobanner","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/id_in_form"}],"responses":{"200":{"description":"Banner successfully Deleted"},"400":{"description":"Missing or invalid parameters."},"500":{"description":"Banner not Deleted "},"404":{"description":"Banner Id not Exist. "}}}},"\/v1.6\/booking\/trip":{"get":{"tags":["Trip"],"summary":"Get user trips","description":"get all of user's trips.","operationId":"booking.get.trips","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"},{"$ref":"#\/parameters\/for_in_query"},{"$ref":"#\/parameters\/past_in_query"},{"$ref":"#\/parameters\/status_in_query"}],"responses":{"200":{"description":"Returns array containing list of user trips with pagination. ","schema":{"properties":{"status":{"description":"Get user trips","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get user trips","$ref":"#definitions\/GetTripsResponse"},"error":{"description":"Get user trips","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/booking\/request":{"get":{"tags":["Request"],"summary":"Get user booking requests","description":"get all of user's booking requests.","operationId":"booking.get.requests","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"},{"$ref":"#\/parameters\/archived_optional_in_query"}],"responses":{"200":{"description":"Returns array containing list of user booking requests with pagination.","schema":{"properties":{"status":{"description":"Get user booking requests","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get user booking requests","$ref":"#definitions\/GetRequestResponse"},"error":{"description":"Get user booking requests","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}},"post":{"tags":["Request"],"summary":"Create Booking Request","description":"Create booking request","operationId":"booking.post.bookingrequest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_form"},{"$ref":"#\/parameters\/checkin_in_form"},{"$ref":"#\/parameters\/checkout_in_form"},{"$ref":"#\/parameters\/guests_in_form"},{"$ref":"#\/parameters\/units_in_form"},{"$ref":"#\/parameters\/payment_method_in_form"},{"$ref":"#\/parameters\/payable_amount_in_form"},{"$ref":"#\/parameters\/coupon_code_in_form"},{"$ref":"#\/parameters\/apply_wallet_in_form"},{"$ref":"#\/parameters\/force_create_in_form"}],"responses":{"200":{"description":"Returns json containing request id and instant book","schema":{"properties":{"status":{"description":"Create Booking Request","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Create Booking Request","$ref":"#definitions\/PostBookingRequestResponse"},"error":{"description":"Create Booking Request","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Chosen payment method is not available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"Mobile number not verified. Please login using email!","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/booking\/trip\/{request_hash_id}":{"get":{"tags":["Trip"],"summary":"Get trip details","description":"get details of trip","operationId":"booking.get.tripdetails","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_path"}],"responses":{"200":{"description":"Returns json containing trip details","schema":{"properties":{"status":{"description":"Get trip details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get trip details","$ref":"#definitions\/GetTripDetailResponse"},"error":{"description":"Get trip details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/booking\/request\/{{request_hash_id}}":{"put":{"tags":["Request"],"summary":"Update Booking Request.","description":"Update booking request","operationId":"booking.put.bookingrequest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_path"},{"$ref":"#\/parameters\/payment_method_in_form"},{"$ref":"#\/parameters\/payable_amount_in_form"},{"$ref":"#\/parameters\/coupon_code_in_form"},{"$ref":"#\/parameters\/apply_wallet_in_form"}],"responses":{"200":{"description":"Returns json containing request id and instant book","schema":{"properties":{"status":{"description":"Update Booking Request.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Update Booking Request.","$ref":"#definitions\/PutBookingRequestResponse"},"error":{"description":"Update Booking Request.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Chosen payment method is not available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"Mobile number not verified. Please login using email!","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Booking Request not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/booking\/request\/resend":{"post":{"tags":["Request"],"summary":"Resend Booking Request.","description":"Resend booking request","operationId":"booking.post.resendbookingrequest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_form"}],"responses":{"200":{"description":"Returns json containing request id and instant book","schema":{"properties":{"status":{"description":"Resend Booking Request.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Resend Booking Request.","$ref":"#definitions\/PostBookingRequestResendResponse"},"error":{"description":"Resend Booking Request.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Chosen payment method is not available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"Mobile number not verified. Please login using email!","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/booking\/request\/{request_hash_id}":{"get":{"tags":["Request"],"summary":"Get user booking request details","description":"get details of user's booking request.","operationId":"booking.get.request.id","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_path"}],"responses":{"200":{"description":"Returns array containing request details","schema":{"properties":{"status":{"description":"Get user booking request details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get user booking request details","$ref":"#definitions\/GetRequestDetailResponse"},"error":{"description":"Get user booking request details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/booking\/request\/cancel":{"post":{"tags":["Request"],"summary":"Cancel Booking Request.","description":"Cancel booking request","operationId":"booking.post.cancelbookingrequest","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_form"},{"$ref":"#\/parameters\/request_status_in_form"},{"$ref":"#\/parameters\/reason_id_in_form"},{"$ref":"#\/parameters\/reason_detail_in_form"}],"responses":{"200":{"description":"Returns json containing request id and request status","schema":{"properties":{"status":{"description":"Cancel Booking Request.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Cancel Booking Request.","$ref":"#definitions\/PostBookingRequestCancelResponse"},"error":{"description":"Cancel Booking Request.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"404":{"description":"No details available."}}}},"\/v1.6\/booking\/request\/emailinvoice":{"post":{"tags":["Request"],"summary":"Send Invoice for  Booking Request.","description":"Email Invoice booking request","operationId":"booking.post.emailinvoice","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_form"}],"responses":{"200":{"description":"Returns json containing request id and request status","schema":{"properties":{"status":{"description":"Send Invoice for  Booking Request.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Send Invoice for  Booking Request.","$ref":"#definitions\/PostBookingRequestEmailinvoiceResponse"},"error":{"description":"Send Invoice for  Booking Request.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/booking\/confirm-arrival":{"put":{"tags":["Request"],"summary":"Save Traveller arrival confirmation by Guest.","description":"Traveller Arrival Confirmation","operationId":"booking.put.confirm.arrival","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_form"},{"$ref":"#\/parameters\/request_status_in_form"}],"responses":{"200":{"description":"Returns json containing request id and request status","schema":{"properties":{"status":{"description":"Save Traveller arrival confirmation by Guest.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Save Traveller arrival confirmation by Guest.","$ref":"#definitions\/PostBookingRequestEmailinvoiceResponse"},"error":{"description":"Save Traveller arrival confirmation by Guest.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/booking\/share":{"get":{"tags":["Trip"],"summary":"Get Facebook share property.","description":"get facebook share content for property","operationId":"booking.get.share","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_query"}],"responses":{"200":{"description":"Returns array containing sharable content of property ","schema":{"properties":{"status":{"description":"Get Facebook share property.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Facebook share property.","$ref":"#definitions\/GetBookingShareResponse"},"error":{"description":"Get Facebook share property.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/device":{"post":{"tags":["Device"],"summary":"Create a new device.","description":"Registers a new device","operationId":"device.post.register","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_form"},{"$ref":"#\/parameters\/device_notification_token_in_form"},{"$ref":"#\/parameters\/app_version_in_form"},{"$ref":"#\/parameters\/device_model_in_form"},{"$ref":"#\/parameters\/device_make_in_form"},{"$ref":"#\/parameters\/brand_in_form"},{"$ref":"#\/parameters\/os_version_in_form"},{"$ref":"#\/parameters\/resolution_in_form"},{"$ref":"#\/parameters\/country_in_form"},{"$ref":"#\/parameters\/screen_width_in_form"},{"$ref":"#\/parameters\/screen_height_in_form"},{"$ref":"#\/parameters\/ram_in_form"},{"$ref":"#\/parameters\/dpi_in_form"},{"$ref":"#\/parameters\/app_version_code_in_form"},{"$ref":"#\/parameters\/fcm_token_in_form"}],"responses":{"200":{"description":"Device successfully updated","schema":{"properties":{"status":{"description":"Create a new device.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Create a new device.","$ref":"#definitions\/PostDeviceResponse"},"error":{"description":"Create a new device.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"201":{"description":"Device successfully registered","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/device\/trafficsource":{"post":{"tags":["Device"],"summary":"Create a new traffic source","description":"store traffic source data","operationId":"device.post.trafficsource","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/traffic_source_in_form"},{"$ref":"#\/parameters\/medium_in_form"},{"$ref":"#\/parameters\/campaign_in_form"}],"responses":{"200":{"description":"Data Saved successfully","schema":{"properties":{"status":{"description":"Create a new traffic source","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Create a new traffic source","$ref":"#definitions\/PostDeviceTrafficsourceResponse"},"error":{"description":"Create a new traffic source","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/home":{"get":{"tags":["Home"],"summary":"Get home page data","description":"Get home page data","operationId":"home.get.index","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_optional_in_header"},{"$ref":"#\/parameters\/collections_offset_optional_in_query"},{"$ref":"#\/parameters\/collections_total_optional_in_query"},{"$ref":"#\/parameters\/collections_property_total_optional_in_query"},{"$ref":"#\/parameters\/offer_optional_in_query"}],"responses":{"200":{"description":"Home page data","schema":{"properties":{"status":{"description":"Get home page data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get home page data","$ref":"#definitions\/GetHomeResponse"},"error":{"description":"Get home page data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}}}}},"\/v1.6\/home\/collections":{"get":{"tags":["Home"],"summary":"Get all collections data","description":"Get all collections data","operationId":"home.get.collections","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_optional_in_header"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"},{"$ref":"#\/parameters\/property_total_optional_in_query"}],"responses":{"200":{"description":"All collections data","schema":{"properties":{"status":{"description":"Get all collections data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get all collections data","$ref":"#definitions\/GetHomeCollectionsResponse"},"error":{"description":"Get all collections data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}}}}},"\/v1.6\/home\/collections\/{collection_hash_id}":{"get":{"tags":["Home"],"summary":"Get particular collection data","description":"Get particular collection data","operationId":"home.get.particular.collection","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_optional_in_header"},{"$ref":"#\/parameters\/collection_hash_id_in_path"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"}],"responses":{"200":{"description":"Get particular collection data","schema":{"properties":{"status":{"description":"Get particular collection data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get particular collection data","$ref":"#definitions\/GetHomeCollectionsDetailResponse"},"error":{"description":"Get particular collection data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/home":{"get":{"tags":["Host"],"summary":"Get host dashboard data","description":"Get host dashboard data","operationId":"host.get.home","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"}],"responses":{"200":{"description":"Host Dashboard data","schema":{"properties":{"status":{"description":"Get host dashboard data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get host dashboard data","$ref":"#definitions\/GetHostHomeResponse"},"error":{"description":"Get host dashboard data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/booking":{"get":{"tags":["Host"],"summary":"Get host booking\/request list data","description":"Get host booking\/request list","operationId":"host.get.booking","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/order_by_in_query"},{"$ref":"#\/parameters\/filter_start_date_in_query"},{"$ref":"#\/parameters\/filter_end_date_in_query"},{"$ref":"#\/parameters\/filter_property_hash_string_in_query"},{"$ref":"#\/parameters\/filter_host_status_string_in_query"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"},{"$ref":"#\/parameters\/filter_type_for_bookings"}],"responses":{"200":{"description":"Booking list data","schema":{"properties":{"status":{"description":"Get host booking\/request list data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get host booking\/request list data","$ref":"#definitions\/GetHostBookingResponse"},"error":{"description":"Get host booking\/request list data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/booking\/trip\/{request_hash_id}":{"get":{"tags":["Host"],"summary":"Get host trip details","description":"get details of trip","operationId":"host.get.booking.trip","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_path"}],"responses":{"200":{"description":"Returns json containing trip details","schema":{"properties":{"status":{"description":"Get host trip details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get host trip details","$ref":"#definitions\/GetHostBookingTripDetailResponse"},"error":{"description":"Get host trip details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/booking\/request\/{request_hash_id}":{"get":{"tags":["Host"],"summary":"Get host request details","description":"get details of request","operationId":"host.get.booking.request","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_path"}],"responses":{"200":{"description":"Returns json containing request details","schema":{"properties":{"status":{"description":"Get host request details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get host request details","$ref":"#definitions\/GetHostBookingRequestDetailResponse"},"error":{"description":"Get host request details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Invalid Request Hash Id","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/booking\/status":{"put":{"tags":["Host"],"summary":"Accept\/Reject booking request","description":"accept\/reject booking request","operationId":"host.put.booking.status","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_form"},{"$ref":"#\/parameters\/accept_status_in_form"},{"$ref":"#\/parameters\/host_request_rejection_reason_id_in_form"},{"$ref":"#\/parameters\/host_request_rejection_reason_detail_in_form"}],"responses":{"200":{"description":"Returns json containing status of accpet booking request","schema":{"properties":{"status":{"description":"Accept\/Reject booking request","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Accept\/Reject booking request","$ref":"#definitions\/PutHostBookingStatusResponse"},"error":{"description":"Accept\/Reject booking request","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Invalid Operation On request","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/property":{"get":{"tags":["Host"],"summary":"Get Host property listings","description":"get host's properties.","operationId":"host.get.properties","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"},{"$ref":"#\/parameters\/property_id_optional_in_query"},{"$ref":"#\/parameters\/city_optional_in_query"},{"$ref":"#\/parameters\/property_type_optional_in_query"},{"$ref":"#\/parameters\/property_status_optional_in_query"}],"responses":{"200":{"description":"Returns array containing host property listings.","schema":{"properties":{"status":{"description":"Get Host property listings","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Host property listings","$ref":"#definitions\/GetHostPropertiesResponse"},"error":{"description":"Get Host property listings","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Auth token\/User id missing.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/property\/{property_hash_id}":{"get":{"tags":["Host"],"summary":"Get Host property Detail","description":"get host's property detail.","operationId":"host.get.property","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_path"}],"responses":{"200":{"description":"Returns array containing host property detail.","schema":{"properties":{"status":{"description":"Get Host property Detail","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Host property Detail","$ref":"#definitions\/GetHostPropertiesDetailResponse"},"error":{"description":"Get Host property Detail","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Auth token\/User id missing.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/property\/calendar\/{property_hash_id}":{"get":{"tags":["Host"],"summary":"Get Host property price calendar","description":"get host's property price calendar.","operationId":"host.get.property.calender","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_path"},{"$ref":"#\/parameters\/start_date_optional_in_query"},{"$ref":"#\/parameters\/end_date_optional_in_query"}],"responses":{"200":{"description":"Returns array containing host property listings.","schema":{"properties":{"status":{"description":"Get Host property price calendar","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Host property price calendar","$ref":"#definitions\/GetHostPropertiesCalendarResponse"},"error":{"description":"Get Host property price calendar","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Auth token\/User id missing.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/property\/calendar":{"put":{"tags":["Host"],"summary":"Update Host property price calendar","description":"update host's property price calendar.","operationId":"host.put.property.calendar","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_form"},{"$ref":"#\/parameters\/start_date_in_form"},{"$ref":"#\/parameters\/end_date_in_form"},{"$ref":"#\/parameters\/is_available_in_query"},{"$ref":"#\/parameters\/per_night_price_in_query"},{"$ref":"#\/parameters\/extra_guest_cost_in_query"},{"$ref":"#\/parameters\/available_units_in_query"},{"$ref":"#\/parameters\/instant_book_in_query"},{"$ref":"#\/parameters\/admin_id_in_form"},{"$ref":"#\/parameters\/discount_days_in_form"}],"responses":{"200":{"description":"Returns array containing host property listings.","schema":{"properties":{"status":{"description":"Update Host property price calendar","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Update Host property price calendar","$ref":"#definitions\/PutHostPropertiesCalendarResponse"},"error":{"description":"Update Host property price calendar","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Update Fail.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/property\/status":{"put":{"tags":["Host"],"summary":"Property status change","description":"property status change","operationId":"host.put.property.status","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_form"},{"$ref":"#\/parameters\/property_status_in_query"}],"responses":{"200":{"description":"Returns json containing status of property status change","schema":{"properties":{"status":{"description":"Property status change","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Property status change","$ref":"#definitions\/PutHostPropertiesStatusResponse"},"error":{"description":"Property status change","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Already updated.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/property\/review":{"get":{"tags":["Host"],"summary":"Get host property reviews","description":"get host property reviews.","operationId":"host.get.property.review","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_optional_in_header"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"},{"$ref":"#\/parameters\/filter_type_for_reviews"},{"$ref":"#\/parameters\/property_hash_id_in_query"}],"responses":{"200":{"description":"Returns json containing host property reviews.","schema":{"properties":{"status":{"description":"Get host property reviews","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get host property reviews","$ref":"#definitions\/GetHostPropertiesReviewResponse"},"error":{"description":"Get host property reviews","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}},"put":{"tags":["Host"],"summary":"Save Host Reply","description":"Returns success message when reply save successfully.","operationId":"host.put.property.review","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/reply_in_form"},{"$ref":"#\/parameters\/request_hash_id_in_form"}],"responses":{"200":{"description":"Returns success message if reply submitted successfully.","schema":{"properties":{"status":{"description":"Save Host Reply","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Save Host Reply","$ref":"#definitions\/PutHostPropertiesReviewResponse"},"error":{"description":"Save Host Reply","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Reply data empty. || Reply not saved.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"Reply already submitted.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Booking request not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"Reply not saved.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/booking\/confirm":{"post":{"tags":["Host"],"summary":"Save Booking Acknowledgement","description":"Returns success message when reply save successfully.","operationId":"host.post.booking.confirm","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_form"}],"responses":{"200":{"description":"Returns success message if reply submitted successfully.","schema":{"properties":{"status":{"description":"Save Booking Acknowledgement","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Save Booking Acknowledgement","$ref":"#definitions\/PostHostBookingConfirmationResponse"},"error":{"description":"Save Booking Acknowledgement","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Reply data empty. || Reply not saved.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"Acknowledgement already submitted.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Booking request not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/booking\/confirm-guest-arrival":{"put":{"tags":["Host"],"summary":"Save Traveller Arrival Confirmation","description":"Returns success message when data save successfully.","operationId":"host.post.booking.confirm.guest.arrival","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_form"},{"$ref":"#\/parameters\/request_status_in_form"}],"responses":{"200":{"description":"Returns success message if data submitted successfully.","schema":{"properties":{"status":{"description":"Save Traveller Arrival Confirmation","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Save Traveller Arrival Confirmation","$ref":"#definitions\/PostHostBookingConfirmationResponse"},"error":{"description":"Save Traveller Arrival Confirmation","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"Already checkin.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Booking request not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/payouts":{"get":{"tags":["Host"],"summary":"Get host payout settelment list of bookings","description":"get payout history of host","operationId":"host.get.payouts","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/filter_start_date_in_query"},{"$ref":"#\/parameters\/filter_end_date_in_query"},{"$ref":"#\/parameters\/filter_settlement_status_in_query"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"}],"responses":{"200":{"description":"Returns json containing bank details","schema":{"properties":{"status":{"description":"Get host payout settelment list of bookings","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get host payout settelment list of bookings","$ref":"#definitions\/GetHostPayoutsResponse"},"error":{"description":"Get host payout settelment list of bookings","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/payment\/preferences":{"get":{"tags":["Host"],"summary":"Get host bank details","description":"get bank detail of host","operationId":"host.get.payment.preferences","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"}],"responses":{"200":{"description":"Returns json containing bank details","schema":{"properties":{"status":{"description":"Get host bank details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get host bank details","$ref":"#definitions\/GetHostPaymentPreferencesResponse"},"error":{"description":"Get host bank details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}},"put":{"tags":["Host"],"summary":"Update host bank details","description":"update bank detail of host","operationId":"host.put.payment.preferences","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/payee_name_in_form"},{"$ref":"#\/parameters\/bank_name_in_form"},{"$ref":"#\/parameters\/branch_name_in_form"},{"$ref":"#\/parameters\/account_number_in_form"},{"$ref":"#\/parameters\/ifsc_code_in_form"},{"$ref":"#\/parameters\/payee_address_line_1_in_form"},{"$ref":"#\/parameters\/payee_address_line_2_in_form"},{"$ref":"#\/parameters\/payee_country_in_form"},{"$ref":"#\/parameters\/payee_state_in_form"},{"$ref":"#\/parameters\/routing_number_in_form"},{"$ref":"#\/parameters\/gstin_in_form"}],"responses":{"200":{"description":"Returns json containing bank details","schema":{"properties":{"status":{"description":"Update host bank details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Update host bank details","$ref":"#definitions\/PutHostPaymentPreferencesResponse"},"error":{"description":"Update host bank details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Invalid source parameter. || Update Fail.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"No details available.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}},"post":{"tags":["Host"],"summary":"Add host bank details","description":"Add bank detail of host","operationId":"host.post.payment.preferences","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/payee_name_in_form"},{"$ref":"#\/parameters\/payee_address_line_1_in_form"},{"$ref":"#\/parameters\/payee_address_line_2_in_form"},{"$ref":"#\/parameters\/payee_country_in_form"},{"$ref":"#\/parameters\/payee_state_in_form"},{"$ref":"#\/parameters\/bank_name_in_form"},{"$ref":"#\/parameters\/branch_name_in_form"},{"$ref":"#\/parameters\/account_number_in_form"},{"$ref":"#\/parameters\/ifsc_code_in_form"},{"$ref":"#\/parameters\/routing_number_in_form"},{"$ref":"#\/parameters\/gstin_in_form"}],"responses":{"201":{"description":"Returns json containing bank details","schema":{"properties":{"status":{"description":"Add host bank details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Add host bank details","$ref":"#definitions\/PostHostPaymentPreferencesResponse"},"error":{"description":"Add host bank details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Invalid source parameter.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/rmhostlisting":{"get":{"tags":["Host"],"summary":"Get Rm host list","description":"Get host list","operationId":"host.get.","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"}],"responses":{"200":{"description":"host list data","schema":{"properties":{"status":{"description":"Get Rm host list","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Rm host list","$ref":"#definitions\/GetRmHostListingResponse"},"error":{"description":"Get Rm host list","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"400":{"description":"Not a Rm user.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/rmashostlogin\/{host_hash_id}":{"get":{"tags":["Host"],"summary":"Rm login as a host","description":"Login Rm as a host","operationId":"host.get.rmhostlogin","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/host_hash_id_in_path"}],"responses":{"200":{"description":"Access token host","schema":{"properties":{"status":{"description":"Rm login as a host","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Rm login as a host","$ref":"#definitions\/GetRmAsHostLoginResponse"},"error":{"description":"Rm login as a host","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Invalid Host Id.||Not a Rm user||The user hash id field is invalid.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"This host is not mapped with current logged in RM","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/lead":{"post":{"tags":["Host"],"summary":"Save Host Lead","description":"Returns success message when reply save successfully.","operationId":"host.post.lead","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/name_lead_in_form"},{"$ref":"#\/parameters\/contact_in_form"},{"$ref":"#\/parameters\/email_in_form_not_required"},{"$ref":"#\/parameters\/property_type_in_form"},{"$ref":"#\/parameters\/city_in_form"},{"$ref":"#\/parameters\/address_optional_in_form"}],"responses":{"200":{"description":"Returns success message if lead submitted successfully.","schema":{"properties":{"status":{"description":"Save Host Lead","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Save Host Lead","$ref":"#definitions\/PostHostLeadResponse"},"error":{"description":"Save Host Lead","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/property\/clone":{"post":{"tags":["Host"],"summary":"Clone Property","description":"Returns success message when property cloned successfully.","operationId":"host.post.property.clone","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_form"},{"$ref":"#\/parameters\/converted_by_in_form"},{"$ref":"#\/parameters\/property_title_in_form"}],"responses":{"200":{"description":"Returns success message if property cloned successfully.","schema":{"properties":{"status":{"description":"Clone Property","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Clone Property","$ref":"#definitions\/PostPropertyCloneResponse"},"error":{"description":"Clone Property","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.|| The property hash id field is invalid.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"There was some error while cloning. Please try again.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/smartdiscounts":{"post":{"tags":["Host"],"summary":"Add Smart Discounts","description":"change property Smart Discounts.","operationId":"host.post.smartdiscounts","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_form"},{"$ref":"#\/parameters\/start_date_in_form"},{"$ref":"#\/parameters\/end_date_in_form"},{"$ref":"#\/parameters\/smart_discount_status_in_form"},{"$ref":"#\/parameters\/smart_discounts_json_in_form"}],"responses":{"200":{"description":"Returns array containing host property listings.","schema":{"properties":{"status":{"description":"Add Smart Discounts","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Add Smart Discounts","$ref":"#definitions\/PostSmartDiscountsResponse"},"error":{"description":"Add Smart Discounts","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Unable to Change Smart Discounts","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"This host is not mapped with current logged in RM","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/listing\/property\/{property_hash_id}":{"get":{"tags":["Host"],"summary":"Get Host listing property Detail","description":"get host's listing property detail.","operationId":"host.get.listing.property","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_path"}],"responses":{"200":{"description":"Returns array containing host property detail.","schema":{"properties":{"status":{"description":"Get Host listing property Detail","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Host listing property Detail","$ref":"#definitions\/GetHostPropertyListingDetailResponse"},"error":{"description":"Get Host listing property Detail","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Auth token\/User id missing.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/property":{"put":{"tags":["Host"],"summary":"Update Property by Host","description":"Update Property","operationId":"host.put.property.edit","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_form"},{"$ref":"#\/parameters\/property_type_optional_in_form"},{"$ref":"#\/parameters\/room_type_optional_in_form"},{"$ref":"#\/parameters\/units_optional_in_form"},{"$ref":"#\/parameters\/accomodation_optional_in_form"},{"$ref":"#\/parameters\/per_unit_extra_guests_optional_in_form"},{"$ref":"#\/parameters\/bedrooms_optional_in_form"},{"$ref":"#\/parameters\/beds_optional_in_form"},{"$ref":"#\/parameters\/bathrooms_optional_in_form"},{"$ref":"#\/parameters\/title_optional_in_form"},{"$ref":"#\/parameters\/currency_optional_in_form"},{"$ref":"#\/parameters\/per_night_price_optional_in_form"},{"$ref":"#\/parameters\/gh_commission_optional_in_form"},{"$ref":"#\/parameters\/noc_status_optional_in_form"},{"$ref":"#\/parameters\/address_optional_in_form"},{"$ref":"#\/parameters\/area_optional_in_form"},{"$ref":"#\/parameters\/city_optional_in_form"},{"$ref":"#\/parameters\/state_optional_in_form"},{"$ref":"#\/parameters\/country_code_optional_in_query"},{"$ref":"#\/parameters\/zipcode_optional_in_query"},{"$ref":"#\/parameters\/cancelation_policy_optional_in_query"},{"$ref":"#\/parameters\/description_optional_in_form"},{"$ref":"#\/parameters\/policy_services_optional_in_form"},{"$ref":"#\/parameters\/house_rule_optional_in_form"},{"$ref":"#\/parameters\/your_space_optional_in_form"},{"$ref":"#\/parameters\/guest_brief_optional_in_form"},{"$ref":"#\/parameters\/interaction_with_guest_optional_in_form"},{"$ref":"#\/parameters\/local_experience_optional_in_form"},{"$ref":"#\/parameters\/from_airport_optional_in_form"},{"$ref":"#\/parameters\/train_station_optional_in_form"},{"$ref":"#\/parameters\/bus_station_optional_in_form"},{"$ref":"#\/parameters\/extra_detail_optional_in_form"},{"$ref":"#\/parameters\/extra_guest_price_optional_in_form"},{"$ref":"#\/parameters\/per_week_price_optional_in_form"},{"$ref":"#\/parameters\/per_month_price_optional_in_form"},{"$ref":"#\/parameters\/cleaning_fee_optional_in_form"},{"$ref":"#\/parameters\/cleaning_mode_optional_in_form"},{"$ref":"#\/parameters\/min_nights_optional_in_form"},{"$ref":"#\/parameters\/max_nights_optional_in_form"},{"$ref":"#\/parameters\/check_in_time_optional_in_form"},{"$ref":"#\/parameters\/check_out_time_optional_in_form"},{"$ref":"#\/parameters\/video_link_optional_in_form"},{"$ref":"#\/parameters\/property_tags_optional_in_form"},{"$ref":"#\/parameters\/usp_optional_in_form"},{"$ref":"#\/parameters\/converted_by_optional_in_form"},{"$ref":"#\/parameters\/latitude_by_optional_in_form"},{"$ref":"#\/parameters\/longitude_by_optional_in_form"},{"$ref":"#\/parameters\/search_keyword_optional_in_form"},{"$ref":"#\/parameters\/gstin_in_form"},{"$ref":"#\/parameters\/amenities_optional_in_form"},{"$ref":"#\/parameters\/admin_id_in_form"},{"$ref":"#\/parameters\/image_caption_optional_in_form"},{"$ref":"#\/parameters\/image_data_optional_in_form"},{"$ref":"#\/parameters\/video_data_optional_in_form"},{"$ref":"#\/parameters\/properly_title_in_form"}],"responses":{"201":{"description":"Returns json containing bank details","schema":{"properties":{"status":{"description":"Update Property by Host","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Update Property by Host","$ref":"#definitions\/PutPropertyResponse"},"error":{"description":"Update Property by Host","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Invalid source parameter.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}},"post":{"tags":["Host"],"summary":"List Property by User","description":"Add Property","operationId":"host.post.property.add","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_type_required_in_form"},{"$ref":"#\/parameters\/room_type_required_in_form"},{"$ref":"#\/parameters\/units_in_form"},{"$ref":"#\/parameters\/accomodation_required_in_form"},{"$ref":"#\/parameters\/per_unit_extra_guests_required_in_form"},{"$ref":"#\/parameters\/bedrooms_required_in_form"},{"$ref":"#\/parameters\/beds_required_in_form"},{"$ref":"#\/parameters\/bathrooms_required_in_form"},{"$ref":"#\/parameters\/title_in_form"},{"$ref":"#\/parameters\/currency_in_form"},{"$ref":"#\/parameters\/per_night_price_required_in_form"},{"$ref":"#\/parameters\/gh_commission_required_in_form"},{"$ref":"#\/parameters\/noc_status_required_in_form"},{"$ref":"#\/parameters\/address_required_in_form"},{"$ref":"#\/parameters\/area_required_in_query"},{"$ref":"#\/parameters\/city_in_form"},{"$ref":"#\/parameters\/state_required_in_query"},{"$ref":"#\/parameters\/country_code_required_in_query"},{"$ref":"#\/parameters\/zipcode_required_in_query"},{"$ref":"#\/parameters\/cancelation_policy_required_in_query"},{"$ref":"#\/parameters\/description_optional_in_form"},{"$ref":"#\/parameters\/policy_services_optional_in_form"},{"$ref":"#\/parameters\/house_rule_optional_in_form"},{"$ref":"#\/parameters\/your_space_optional_in_form"},{"$ref":"#\/parameters\/guest_brief_optional_in_form"},{"$ref":"#\/parameters\/interaction_with_guest_optional_in_form"},{"$ref":"#\/parameters\/local_experience_optional_in_form"},{"$ref":"#\/parameters\/from_airport_optional_in_form"},{"$ref":"#\/parameters\/train_station_optional_in_form"},{"$ref":"#\/parameters\/bus_station_optional_in_form"},{"$ref":"#\/parameters\/extra_detail_optional_in_form"},{"$ref":"#\/parameters\/extra_guest_price_optional_in_form"},{"$ref":"#\/parameters\/per_week_price_optional_in_form"},{"$ref":"#\/parameters\/per_month_price_optional_in_form"},{"$ref":"#\/parameters\/cleaning_fee_optional_in_form"},{"$ref":"#\/parameters\/cleaning_mode_optional_in_form"},{"$ref":"#\/parameters\/min_nights_optional_in_form"},{"$ref":"#\/parameters\/max_nights_optional_in_form"},{"$ref":"#\/parameters\/check_in_time_optional_in_form"},{"$ref":"#\/parameters\/check_out_time_optional_in_form"},{"$ref":"#\/parameters\/video_link_optional_in_form"},{"$ref":"#\/parameters\/property_tags_optional_in_form"},{"$ref":"#\/parameters\/usp_optional_in_form"},{"$ref":"#\/parameters\/converted_by_optional_in_form"},{"$ref":"#\/parameters\/latitude_by_optional_in_form"},{"$ref":"#\/parameters\/longitude_by_optional_in_form"},{"$ref":"#\/parameters\/search_keyword_optional_in_form"},{"$ref":"#\/parameters\/gstin_in_form"},{"$ref":"#\/parameters\/amenities_optional_in_form"},{"$ref":"#\/parameters\/admin_id_in_form"},{"$ref":"#\/parameters\/image_caption_optional_in_form"},{"$ref":"#\/parameters\/image_data_optional_in_form"},{"$ref":"#\/parameters\/video_data_optional_in_form"},{"$ref":"#\/parameters\/properly_title_in_form"}],"responses":{"201":{"description":"Returns json containing bank details","schema":{"properties":{"status":{"description":"List Property by User","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"List Property by User","$ref":"#definitions\/PostPropertyResponse"},"error":{"description":"List Property by User","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Invalid source parameter.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/host\/property\/remove":{"delete":{"tags":["Host"],"summary":"Delete Host Listed Property","description":"Delete Host Listed Property.","operationId":"host.delete.property","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_form"},{"$ref":"#\/parameters\/admin_id_in_form"}],"responses":{"200":{"description":"Property successfully removed.","schema":{"properties":{"status":{"description":"Delete Host Listed Property","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Delete Host Listed Property","$ref":"#definitions\/DeleteHostPropertyResponse"},"error":{"description":"Delete Host Listed Property","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/oauth\/token":{"post":{"tags":["Oauth"],"summary":"User login","description":"User login - generate tokens","operationId":"oauth.post.token","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/client_id_in_form"},{"$ref":"#\/parameters\/client_secret_in_form"},{"$ref":"#\/parameters\/grant_type_in_form"},{"$ref":"#\/parameters\/access_scopes_in_form"},{"$ref":"#\/parameters\/username_in_form"},{"$ref":"#\/parameters\/base64encode_password_in_form"}],"responses":{"200":{"description":"Generates access token and refresh token"},"400":{"description":"Parameter missing"},"401":{"description":"Invalid request params"}}}},"\/oauth\/token#refresh":{"post":{"tags":["Oauth"],"summary":"Refresh access token using refresh token","description":"Refresh access token","operationId":"oauth.post.token.refresh","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/client_id_in_form"},{"$ref":"#\/parameters\/client_secret_in_form"},{"$ref":"#\/parameters\/refresh_grant_type_in_form"},{"$ref":"#\/parameters\/access_scopes_in_form"},{"$ref":"#\/parameters\/refresh_token_in_form"}],"responses":{"200":{"description":"Refreshes access token and refresh token"},"400":{"description":"Parameter missing"},"401":{"description":"Invalid request params"}}}},"\/v1.6\/offlinediscovery\/login":{"post":{"tags":["Offline Discovery"],"summary":"Login Offline Discovery","description":"Returns oauth tokens when user registers successfully.","operationId":"offlinediscovery.post.login","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_form"}],"responses":{"200":{"description":"You are successfully loggedin.Please contact team to enable your access","schema":{"properties":{"status":{"description":"Login Offline Discovery","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Login Offline Discovery","$ref":"#definitions\/PostOfflineDiscoveryLoginResponse"},"error":{"description":"Login Offline Discovery","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"201":{"description":"You are successfully signedup.Please contact team to enable your access","schema":{"properties":{"status":{"description":"Login Offline Discovery","$ref":"#\/definitions\/CreateHttpResponse\/properties\/status"},"data":{"description":"Login Offline Discovery","$ref":"#definitions\/PostOfflineDiscoveryLoginResponse"},"error":{"description":"Login Offline Discovery","$ref":"#\/definitions\/CreateHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Invalid access token. || Invalid source parameter.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"There was some error while signing you up. Please try again after some time.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"502":{"description":"Error while fetching profile image.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/offlinediscovery\/search":{"get":{"tags":["Offline Discovery"],"summary":"Get search results","description":"Get offline discovery search results","operationId":"offlinediscovery.get.search","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/email_in_query"},{"$ref":"#\/parameters\/contact_in_query"},{"$ref":"#\/parameters\/state_in_query"},{"$ref":"#\/parameters\/city_in_query"},{"$ref":"#\/parameters\/property_name_in_query"}],"responses":{"200":{"description":"Successfully fetched search data.","schema":{"properties":{"status":{"description":"Get search results","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get search results","$ref":"#definitions\/GetOfflineDiscoverySearchResponse"},"error":{"description":"Get search results","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}}}}},"\/v1.6\/offlinediscovery\/createlead":{"post":{"tags":["Offline Discovery"],"summary":"Lead Creation Offline Discovery","description":"Create host conversion lead.","operationId":"offlinediscovery.post.createlead","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_name_in_form"},{"$ref":"#\/parameters\/email_in_form"},{"$ref":"#\/parameters\/contact_in_form"},{"$ref":"#\/parameters\/contact_name_in_form"},{"$ref":"#\/parameters\/country_in_form"},{"$ref":"#\/parameters\/total_listings_in_form"},{"$ref":"#\/parameters\/state_in_form"},{"$ref":"#\/parameters\/city_in_form"},{"$ref":"#\/parameters\/latitude_in_form"},{"$ref":"#\/parameters\/longitude_in_form"},{"$ref":"#\/parameters\/address_in_form"},{"$ref":"#\/parameters\/tariff_in_form"},{"$ref":"#\/parameters\/cancellation_policy_in_form"},{"$ref":"#\/parameters\/amenities_in_form"},{"$ref":"#\/parameters\/property_type_in_form"},{"$ref":"#\/parameters\/room_type_in_form"},{"$ref":"#\/parameters\/units_in_form"},{"$ref":"#\/parameters\/accomodation_in_form"},{"$ref":"#\/parameters\/extra_guests_in_form"},{"$ref":"#\/parameters\/bedrooms_in_form"},{"$ref":"#\/parameters\/beds_in_form"},{"$ref":"#\/parameters\/checkin_in_form"},{"$ref":"#\/parameters\/checkout_in_form"},{"$ref":"#\/parameters\/extra_guest_price_in_form"},{"$ref":"#\/parameters\/property_notes_in_form"},{"$ref":"#\/parameters\/website_in_form"},{"$ref":"#\/parameters\/payment_terms_in_form"},{"$ref":"#\/parameters\/gst_no_in_form"},{"$ref":"#\/parameters\/payee_name_not_required_in_form"},{"$ref":"#\/parameters\/branch_name_not_required_in_form"},{"$ref":"#\/parameters\/acc_no_in_form"},{"$ref":"#\/parameters\/ifsc_in_form"},{"$ref":"#\/parameters\/noc_in_form"}],"responses":{"201":{"description":"Host conversion lead successfully created.","schema":{"properties":{"status":{"description":"Lead Creation Offline Discovery","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Lead Creation Offline Discovery","$ref":"#definitions\/PostOfflineDiscoveryCreateLeadResponse"},"error":{"description":"Lead Creation Offline Discovery","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Invalid access token. || Invalid source parameter.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"There was some error while signing you up. Please try again after some time.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"502":{"description":"Error while creating lead.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/offlinediscovery\/leaduploadimage":{"post":{"tags":["Offline Discovery"],"summary":"Post lead image for lead","description":"post property review image.","operationId":"offlinediscovery.post.leaduploadimage","consumes":["multipart\/form-data"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/lead_id_in_form"},{"$ref":"#\/parameters\/lead_image_in_form"}],"responses":{"200":{"description":"Image uploaded successfully.","schema":{"properties":{"status":{"description":"Post lead image for lead","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Post lead image for lead","$ref":"#definitions\/PostOfflineDiscoveryUploadLeadImageResponse"},"error":{"description":"Post lead image for lead","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"Image not uploaded.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/offlinediscovery\/leadformlist":{"get":{"tags":["Offline Discovery"],"summary":"Get Property Form Field List.","description":"Get offline discovery search results","operationId":"offlinediscovery.get.leadformlist","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"}],"responses":{"200":{"description":"Successfully fetched property lead form field list.","schema":{"properties":{"status":{"description":"Get Property Form Field List.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Property Form Field List.","$ref":"#definitions\/GetOfflineDiscoveryLeadFormListResponse"},"error":{"description":"Get Property Form Field List.","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}}}}},"\/v1.6\/prepayment\/{property_hash_id}":{"get":{"tags":["Prepayment"],"summary":"Get property prepayment data","description":"get property data, pricing, and payment data for prepayment page.","operationId":"prepayment.get.details","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_optional_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_path"},{"$ref":"#\/parameters\/checkin_optional_in_query"},{"$ref":"#\/parameters\/checkout_optional_in_query"},{"$ref":"#\/parameters\/units_optional_in_query"},{"$ref":"#\/parameters\/guests_optional_in_query"},{"$ref":"#\/parameters\/coupon_code_optional_in_query"},{"$ref":"#\/parameters\/apply_wallet_optional_in_query"},{"$ref":"#\/parameters\/payment_method_optional_in_query"}],"responses":{"200":{"description":"Returns array containing data pertaining to upcoming booking (amount to be paid, payment methods etc).","schema":{"properties":{"status":{"description":"Get property prepayment data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get property prepayment data","$ref":"#definitions\/GetPrepaymentResponse"},"error":{"description":"Get property prepayment data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prepayment\/request\/{request_hash_id}":{"get":{"tags":["Prepayment"],"summary":"Get Request prepayment data","description":"get property data, pricing, and payment data for request prepayment page.","operationId":"prepayment.get.detailsforrequest","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_path"},{"$ref":"#\/parameters\/coupon_code_optional_in_query"},{"$ref":"#\/parameters\/apply_wallet_optional_in_query"},{"$ref":"#\/parameters\/payment_method_optional_in_query"}],"responses":{"200":{"description":"Returns array containing data in currenct booking request (amount to be paid, payment methods etc).","schema":{"properties":{"status":{"description":"Get Request prepayment data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Request prepayment data","$ref":"#definitions\/GetPrepaymentRequestResponse"},"error":{"description":"Get Request prepayment data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property\/booking request not found.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/login":{"post":{"tags":["Prive"],"summary":"Login Prive Owner\/Manager Tokens","description":"Returns an array containing Prive Login Data.","operationId":"prive.post.login","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/email_in_form"},{"$ref":"#\/parameters\/base64encode_password_in_form"},{"$ref":"#\/parameters\/source_prive_login_in_form"}],"responses":{"200":{"description":"List of dialcodes of countries.","schema":{"properties":{"status":{"description":"Login Prive Owner\/Manager Tokens","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Login Prive Owner\/Manager Tokens","$ref":"#definitions\/PostPriveLoginResponse"},"error":{"description":"Login Prive Owner\/Manager Tokens","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Email is not registerd as Prive Owner.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"Unauthorized action. || Incorrect password entered. Please try again.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/bookings":{"get":{"tags":["Prive"],"summary":"Get prive bookings list data","description":"Get prive bookings list","operationId":"prive.get.bookings","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_query"},{"$ref":"#\/parameters\/filter_start_date_in_query"},{"$ref":"#\/parameters\/filter_end_date_in_query"},{"$ref":"#\/parameters\/filter_status_in_query"},{"$ref":"#\/parameters\/sort_for_bookings"},{"$ref":"#\/parameters\/sort_order_for_bookings"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"}],"responses":{"200":{"description":"Booking list data","schema":{"properties":{"status":{"description":"Get prive bookings list data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get prive bookings list data","$ref":"#definitions\/GetPriveBookingsResponse"},"error":{"description":"Get prive bookings list data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/property":{"get":{"tags":["Prive"],"summary":"Get Prive property listings","description":"get prives's properties.","operationId":"prive.get.properties","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"}],"responses":{"200":{"description":"Returns array containing prive property listings.","schema":{"properties":{"status":{"description":"Get Prive property listings","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Prive property listings","$ref":"#definitions\/GetPrivePropertyResponse"},"error":{"description":"Get Prive property listings","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/register":{"post":{"tags":["Prive"],"summary":"Create a new prive user","description":"Returns oauth tokens when prive registers successfully.","operationId":"prive.post.register","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/email_in_form"},{"$ref":"#\/parameters\/base64encode_password_in_form"},{"$ref":"#\/parameters\/user_first_name_in_form"},{"$ref":"#\/parameters\/user_last_name_optional_in_form"},{"$ref":"#\/parameters\/contact_number_optional_in_form"},{"$ref":"#\/parameters\/dial_code_optional_in_form"},{"$ref":"#\/parameters\/source_prive_in_form"},{"$ref":"#\/parameters\/device_type_in_form"}],"responses":{"200":{"description":"User updated successfully.","schema":{"properties":{"status":{"description":"Create a new prive user","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Create a new prive user","$ref":"#definitions\/PostPriveRegisterResponse"},"error":{"description":"Create a new prive user","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"201":{"description":"User created successfully.","schema":{"properties":{"status":{"description":"Create a new prive user","$ref":"#\/definitions\/CreateHttpResponse\/properties\/status"},"data":{"description":"Create a new prive user","$ref":"#definitions\/PostPriveRegisterResponse"},"error":{"description":"Create a new prive user","$ref":"#\/definitions\/CreateHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Invalid source parameter.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"We already have an account associated with this email.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"There was some error while signing you up. Please try again after some time.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/register#google":{"post":{"tags":["Prive"],"summary":"Create a new prive user","description":"Returns oauth tokens when prive registers successfully.","operationId":"prive.post.register.google","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/social_access_token_in_form"},{"$ref":"#\/parameters\/source_prive_in_form"}],"responses":{"200":{"description":"User updated successfully.","schema":{"properties":{"status":{"description":"Create a new prive user","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Create a new prive user","$ref":"#definitions\/PostPriveRegisterResponse"},"error":{"description":"Create a new prive user","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"201":{"description":"User created successfully.","schema":{"properties":{"status":{"description":"Create a new prive user","$ref":"#\/definitions\/CreateHttpResponse\/properties\/status"},"data":{"description":"Create a new prive user","$ref":"#definitions\/PostPriveRegisterResponse"},"error":{"description":"Create a new prive user","$ref":"#\/definitions\/CreateHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters. || Invalid access token. || Invalid source parameter.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"There was some error while signing you up. Please try again after some time.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"502":{"description":"Error while fetching profile image.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/password\/reset":{"post":{"tags":["Prive"],"summary":"Reset password","description":"Returns an array containing flags to check if email  sent or not. Also returns error\/success message.","operationId":"prive.post.password.reset","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/email_in_form"}],"responses":{"200":{"description":"Link Sent on registered Email id. || reset password link sent to your email id.","schema":{"properties":{"status":{"description":"Reset password","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Reset password","$ref":"#definitions\/PostPriveResetPasswordResponse"},"error":{"description":"Reset password","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.  Invalid email.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.||Email is not registerd or Not Activated as Prive Owner.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"Error while generating reset password token.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive":{"get":{"tags":["Prive"],"summary":"Get Prive profile data","description":"get prive's profile data.","operationId":"prive.get.data","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"}],"responses":{"200":{"description":"Returns array containing prive profile data.","schema":{"properties":{"status":{"description":"Get Prive profile data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Prive profile data","$ref":"#definitions\/GetPriveUserResponse"},"error":{"description":"Get Prive profile data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Auth token missing.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}},"put":{"tags":["Prive"],"summary":"Update Prive profile data","description":"update prive's profile data.","operationId":"prive.put.data","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/contact_in_form"}],"responses":{"200":{"description":"User details updated successfully.","schema":{"properties":{"status":{"description":"Update Prive profile data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Update Prive profile data","$ref":"#definitions\/PutPriveUserResponse"},"error":{"description":"Update Prive profile data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"403":{"description":"Sorry! The number is already registered with us. Please try a different number.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"500":{"description":"There was some error while updating user details. Please try again.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/invoice":{"get":{"tags":["Prive"],"summary":"Get prive inovice Monthly data","description":"Get prive bookings list","operationId":"prive.get.invoice","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/month_year_in_query"},{"$ref":"#\/parameters\/property_hash_id_in_query"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"}],"responses":{"200":{"description":"invoice list data","schema":{"properties":{"status":{"description":"Get prive inovice Monthly data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get prive inovice Monthly data","$ref":"#definitions\/GetPriveInvoiceResponse"},"error":{"description":"Get prive inovice Monthly data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/home":{"get":{"tags":["Prive"],"summary":"Get Prive dashboard data","description":"Get prive dashboard data","operationId":"prive.get.home","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"}],"responses":{"200":{"description":"prive Dashboard data","schema":{"properties":{"status":{"description":"Get Prive dashboard data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Prive dashboard data","$ref":"#definitions\/GetpriveIndexResponse"},"error":{"description":"Get Prive dashboard data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/homegraph":{"get":{"tags":["Prive"],"summary":"Get Prive Home Graph data","description":"Get prive home graph data","operationId":"prive.get.home","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/month_year_from_in_query"},{"$ref":"#\/parameters\/month_year_to_in_query"}],"responses":{"200":{"description":"prive Home graph data","schema":{"properties":{"status":{"description":"Get Prive Home Graph data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Prive Home Graph data","$ref":"#definitions\/GetPriveHomeGraphResponse"},"error":{"description":"Get Prive Home Graph data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/booking\/{request_hash_id}":{"get":{"tags":["Prive"],"summary":"Get prive booking details","description":"get details of booking","operationId":"prive.get.booking","produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_path"}],"responses":{"200":{"description":"Returns json containing booking details","schema":{"properties":{"status":{"description":"Get prive booking details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get prive booking details","$ref":"#definitions\/GetPriveBookingDetailResponse"},"error":{"description":"Get prive booking details","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/booking":{"post":{"tags":["Prive"],"summary":"Create Booking","description":"Create booking","operationId":"prive.post.booking","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_form"},{"$ref":"#\/parameters\/checkin_in_form"},{"$ref":"#\/parameters\/checkout_in_form"},{"$ref":"#\/parameters\/guests_in_form"},{"$ref":"#\/parameters\/units_in_form"},{"$ref":"#\/parameters\/user_first_name_in_form"},{"$ref":"#\/parameters\/user_last_name_optional_in_form"},{"$ref":"#\/parameters\/email_in_form"},{"$ref":"#\/parameters\/dial_code_in_form"},{"$ref":"#\/parameters\/contact_in_form"}],"responses":{"200":{"description":"Returns json containing request id and message","schema":{"properties":{"status":{"description":"Create Booking","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Create Booking","$ref":"#definitions\/PostPriveBookingResponse"},"error":{"description":"Create Booking","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"404":{"description":"Property not found. || Property unavailable on selected dates. ","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/manager\/property":{"get":{"tags":["Prive"],"summary":"Get Prive Manager property listings","description":"get prive manager's properties.","operationId":"prive.manager.get.properties","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"}],"responses":{"200":{"description":"Returns array containing prive managers property listings.","schema":{"properties":{"status":{"description":"Get Prive Manager property listings","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get Prive Manager property listings","$ref":"#definitions\/GetPriveManagerPropertyResponse"},"error":{"description":"Get Prive Manager property listings","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/manager\/bookings":{"get":{"tags":["Prive"],"summary":"Get prive manager bookings list data","description":"Get prive manager bookings list","operationId":"prive.manager.get.bookings","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/property_hash_id_in_query"},{"$ref":"#\/parameters\/filter_start_date_in_query"},{"$ref":"#\/parameters\/filter_end_date_in_query"},{"$ref":"#\/parameters\/sort_by_for_prive_bookings"},{"$ref":"#\/parameters\/sort_order_for_prive_bookings"},{"$ref":"#\/parameters\/offset_optional_in_query"},{"$ref":"#\/parameters\/total_optional_in_query"},{"$ref":"#\/parameters\/status_for_prive_manager_bookings"},{"$ref":"#\/parameters\/enable_count_in_quest"},{"$ref":"#\/parameters\/search_in_query"}],"responses":{"200":{"description":"Booking list data","schema":{"properties":{"status":{"description":"Get prive manager bookings list data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get prive manager bookings list data","$ref":"#definitions\/GetPriveManagerBookingsResponse"},"error":{"description":"Get prive manager bookings list data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/error"}}}},"400":{"description":"Missing or invalid parameters.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}},"401":{"description":"Unauthorized action.","schema":{"$ref":"#\/definitions\/ErrorHttpResponse"}}}}},"\/v1.6\/prive\/manager\/booking\/{request_hash_id}":{"get":{"tags":["Prive"],"summary":"Get prive manager booking detail data","description":"Get prive manager bookings detail","operationId":"prive.manager.get.booking","consumes":["application\/x-www-form-urlencoded"],"produces":["application\/json"],"parameters":[{"$ref":"#\/parameters\/device_unique_id_in_header"},{"$ref":"#\/parameters\/access_token_in_header"},{"$ref":"#\/parameters\/request_hash_id_in_path"}],"responses":{"200":{"description":"Booking list data","schema":{"properties":{"status":{"description":"Get prive manager booking detail data","$ref":"#\/definitions\/SuccessHttpResponse\/properties\/status"},"data":{"description":"Get prive manager booking detail data","$ref":"#definitions\/GetPriveManagerBookingDetailResponse"},"error":
[...]
